*.log
bin/results/
bin/resutl_4_20/
bin/results1/
bin/results2/
bin/results3/
bin/results4/
bin/result_test/
bin/resutl_4_21_L1
test_sample_1/
data/
data-source/
premodel/
premodel/
results
*.pyc
*.pkl
plots/
mini_model_for_testing/
bin/results_2023-3-27/
bin/results_2023-3-29/
bin/resutl_esm3b/
bin/test_sample/
bin/resutl_5_8
bin/resutl_5_9
bin/resutl_5_9_v2
bin/IPA__Sample_Angle_6.20_casp/
bin/IPA__Sample_Angle_6.25_casp/
bin/*IPA_sample*/
bin/*IPA_Sample*/
bin/resutl_IPA*/
bin/output_Angle__6_30_PairEmbedding
bin/output_Angle_7_6_PairEmbedding
bin/output_Angle_7_10_PairEmbedding
bin/error_Angle__6_30_PairEmbedding
bin/error_Angle_7_6_PairEmbedding
bin/error_Angle_7_10_PairEmbedding
bin/IPA_model_6.30.sh
bin/IPA_model_7.3.sh
bin/resutl_Score_8_3/
bin/error*
bin/out*
*.bib
*.fasta
*.ipynb
*.csv
README.md
*.ckpt
*.npy
bin/result_score_up_neighbour_8_11/*
bin/resutl_periodic_neighbour_8_15
bin/resutl_score_up_neighbour_8_11
bin/sample_periodic_neighbour_8_15